.tasks {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task {
    position: relative;
    width: 45%;
    background: skyblue;
    margin: 2px;
    border-radius: 2%;
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.my-task,
.add {
    width: 200px;
    height: 25px;
}

.task-close,
.task-finish {
    justify-content: space-around;
    margin: 1px;
    display: block;
    border: 1px solid black;
    width: 20%;
}

.strike {
    text-decoration: line-through;
}

.validation-alert {
    border: 2px solid brown;
}
