.remove-item {
    background-color: #ff0000;
}

.check-item {
    background-color: green;
}

.remove-item,
.check-item {
    color: white;
    height: 25px;
    border-radius: 10px;
}

.remove-item:hover,
.check-item:hover {
    opacity: 0.5;
}

.strike {
    text-decoration: line-through;
}

.invalid {
    border: 2px solid red;
}

.list {
    list-style: none;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: radial-gradient(#ff6666, #ff9999);
    margin: 3px;
    width: 70%;
    min-height: 50px;
}

section {
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    text-align: center;
}

span {
    flex-grow: 1;
}

body {
    background: radial-gradient(#ff3333, #ff6666);
}
