.darkblue {
    background: darkblue;
    height: 90px;
    width: 50%;
    float: left;
}

.lightblue {
    background: lightblue;
    height: 90px;
    width: 50%;
    float: left;
}

.green {
    background: green;
    height: 90px;
    width: 33.33%;
    float: left;
}

.red {
    background: red;
    height: 90px;
    width: 33.33%;
    float: left;
}

.orange {
    background: orange;
    height: 90px;
    width: 33.33%;
    float: left;
}

.main {
    width: 70%;
    margin-left: 15%;
}

@media screen and (max-width: 700px) {
    .main {
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        width: 100%;
        margin-left: 0%;
    }
    .darkblue {
        width: 100%;
    }
    .lightblue {
        width: 50%;
    }
    .green {
        width: 50%;
    }
    .red {
        width: 100%;
    }
    .orange {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .main {
        width: 100%;
        margin-left: 0%;
    }
    .darkblue {
        width: 100%;
    }
    .lightblue {
        width: 100%;
    }
    .green {
        width: 100%;
    }
    .red {
        width: 100%;
    }
    .orange {
        width: 100%;
    }
}