div {
    width: 100%;
    height: 100px;
    background-color: blue;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    float: left;
}

.col-1 {
    background-color: blue;
}

.col-2 {
    background-color: green;
}

.col-3 {
    background-color: violet;
}

.col-4 {
    background-color: yellow;
}

.col-5 {
    background-color: brown;
}

@media screen and (min-width: 400px) {
    .col-md-3 {
        width: 25%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-left {
        height: 200px;
    }
}

@media screen and (min-width: 700px) {
    .col-lg-3 {
        width: 25%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-end {
        height: 200px;
    }

    .col-lg-right {
        float: right;
    }

    .col-lg-pos {
        float: none;
    }
}
