.heading {
    color: #0047FF;
}

.strikeText {
    text-decoration: line-through;
}

.taskList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listitem-name {
    flex-grow: 5;
}

.listitem-remove-buttons,
.listitem-uncheck-buttons {
    height: 25px;
    background: red;
    color: white;
}

.listitem-uncheck-buttons {
    background: green;
}

.listitem-remove-buttons:hover,
.listitem-uncheck-buttons:hover {
    color: yellow;
    border: 1px solid yellow;
}

.listitem {
    display: flex;
    flex-direction: row;
    width: 400px;
    min-height: 100px;
    background: cyan;
    height: auto;
    margin: 5px;
    border: 4px solid #0047FF;
}

.listitem:hover {
    border: 4px solid #339933;
}

#enterDataButton,   
#loadDataButton {
    padding: 5px;
    font-size: 15px;
    background: #0047FF;
    color: white;
    border-radius: 15%;
    outline: none;
}

.application-name {
    text-align: center;
}

.error-message {
    color: red;
}

body {
    background: url("../images/background.jpg");
    background-size: cover;
}

input[type=text] {
    outline: none;
    background: none;
    border: none;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    border-bottom: 2px dashed blue;
}

input[type=text]:focus {
    border-bottom: 2px dashed grey;
    color: #0047FF;
}

label {
    font-size: 18px;
    color: #0047FF;
}
