.main-container {
    background: pink;
}

.item__description {
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.item__list {
    width: 1100px;
    margin-top: 1px;
    padding: 1px;
    padding-top: 1px;
    display: flex;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 20px;
    background: cyan;
}

.item__list:hover {
    background-color: lightgreen;
    border: 1px solid olive;
}

.deleteButton {
    position: absolute;
    right: 1px;
    border: 2px solid red;
    padding: 1px;
    flex-basis: 100px;
    outline: none;
}

.deleteButton:hover {
    background-color: #4caf50;
    color: white;
}

.retrieveButton:hover {
    background-color: #4caf50;
    color: white;
}

.addItem:hover {
    background-color: #4caf50;
    color: white;
}

.text-box {
    border-color: gray;
    width: 900px;
}

.strike-through {
    text-decoration: line-through;
}

