*{

   background-color: darkslateblue;
   font-family: Segoe UI;
}


ul li {
    margin-top:1px;
    text-align: left;
    cursor: pointer;
    background: dodgerblue;
    position: relative;
    padding: 12px 6px 12px 40px;
    font-size: 18px;
    list-style-type: none;
    border-style: ridge;
    border-width: medium;
    
}

ul li.checked {
    background: green;
    text-decoration: line-through;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
   
}

ul li.checked::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    border: 3px solid #4CAF50;
    border-radius: 12px;
    background-color: seagreen;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}


.header {
    background-color: darkslateblue;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: 3px solid lightgreen;
    border-radius: 4px;
    border-width: 15px solid;
    width: 80%;
    padding: 10px;
    float: left;
    font-size: 18px;
    font-family:Georgia;
    
}

.Btn {
    width: 15%;
    height: 40px;
    float: right;
    text-align: center;
    cursor: pointer;
    border-radius: 12px;
    background-color: beige;
}