.border {
    border: 2px solid black;
    float: left;
    box-sizing: border-box;
    height: 100px;
}

.col-1 {
    width: 100%;
    background-color: blue;
}

.col-2 {
    width: 100%;
    background-color: cyan;
}

.col-3 {
    width: 100%;
    background-color: green;
}

.col-4 {
    width: 100%;
    background-color: red;
}

@media screen and (min-width: 500px) {
    .col-1 {
        width: 50%;
        height: 200px;
    }

    .col-2 {
        width: 50%;
    }

    .col-3 {
        width: 50%;
    }

    .col-4 {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .col-1 {
        width: 25%;
        height: 200px;
        float: right;
    }

    .col-2 {
        width: 50%;
        float: right;
    }

    .col-3 {
        width: 50%;
        float: right;
    }

    .col-4 {
        width: 25%;
        height: 200px;
        float: left;
    }
}
