table {
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100px;
}

td {
    border: 2px solid black;
    word-wrap: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}
